body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    margin: 200px;
}

img{
    margin: 50px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid lightpink;
    box-shadow: burlywood;
}

button{
    border-radius: 25px;
    width: 100px;
    color: aliceblue;
    background-color: black;
}